@use "/src/scss/utils/variables.scss" as v;

.header {
  position: absolute;
  z-index: 999;
  height: 80px;
  width: 100vw;
  background-color: v.$header-background-color;
  font-family: v.$categories-font-family;
  font-size: 12px;

  &__container {
    padding: 0 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tools-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: 0 100px 0 0;
  }

  &__logo-name {
    color: v.$header-logo-color;
    font-size: 20px;
    font-weight: bold;
  }

  .nav {
    margin: 0 17px;

    &__list {
      display: flex;
      width: 240px;
      padding: 0;
      justify-content: space-between;
    }

    &__item {
    }

    &__link {
      color: v.$decor-color;
      font-size: 14px;
    }
  }

  @media (max-width: 1024px) {
    .header {
      &__container {
        padding: 0 20px;
      }
    }
    .nav {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    .social {
      display: none;
    }
  }

  .social {
    height: 20px;
    width: 206px;
    cursor: pointer;

    &__list {
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      height: 20px;
      width: 100%;
      border-left: 1px solid v.$decor-color;
      border-right: 1px solid v.$decor-color;
    }

    &__item {
      height: 20px;
      width: 20px;
    }

    &__link {
    }

    &__svg {
      width: 17px; /* или нужный размер */
      height: 17px;
      fill: currentColor; /* чтобы наследовался цвет текста */
    }
  }
}

.search {
  margin: 0 0 0 17px;

  &__btn {
    z-index: 80;
    width: 30px;
    height: 30px;
    padding: 0;
    background: no-repeat;
    border: none;
    cursor: pointer;
  }
  &__svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &__form {
    display: block;
    height: 30px;
    width: 50vw;
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: v.$header-background-color;
    font-family: v.$categories-font-family;
    font-size: 0.9375rem;
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
  }
  &__input {
    padding: 0 10px;
    position: absolute;
    height: 100%;
    width: 86%;
    background: none;
    border: none;
    border-bottom: 1px solid v.$text-title-color;
    outline: none;
    border-radius: 0%;
    color: v.$decor-color;
  }
  &__form-btn {
    position: absolute;
    right: 3%;
    width: 30px;
    height: 30px;
    padding: 0;
    background: no-repeat;
    border: none;
    cursor: pointer;
  }
  &__form-svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
  }

  @media (max-width: 1024px) {
    .search {
      &__input-btn {
        height: 30px;
        width: 30px;
      }
      &__svg {
        width: 30px;
        height: 30px;
        fill: currentColor;
      }
    }
  }
}

.is-hidden {
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.active-nav {
  padding-bottom: 6px;
  border-bottom: 1px solid v.$active-item-color;
  overflow: hidden;
}
