@use "../utils/variables.scss" as v;

.slider {
  width: 100vw;
  height: 100vh;
  background-color: v.$slider-image-color;
  margin: 0 0 150px 0;

  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: relative;

    &.active {
      display: inline-block;
    }

    &__img {
      width: 100vw;
      height: 100%;
      object-fit: cover;
      filter: brightness(70%);
    }

    &__info-container {
      position: absolute;
      bottom: 180px;
      left: 20px;
      max-width: 530px;
      padding: 0 10px 0 0;
    }
    @media (min-width: 460px) {
      &__info-container {
        position: absolute;
        bottom: 140px;
        left: 70px;
        max-width: 530px;
      }
    }

    //     @media (min-width: 460px) {
    //   &__info-container {
    //     position: absolute;
    //     bottom: 140px;
    //     left: 70px;
    //     max-width: 530px;
    //   }
    // }

    &__category {
      width: 95px;
      height: 25px;
      padding: 0.3em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 10px;
      background: v.$slider-category-background-color;
      color: v.$text-title-color;
      font-size: 0.625rem;
      font-family: v.$categories-font-family;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__title {
      color: v.$text-title-color;
      font-size: 2.25rem;
      font-weight: 500;
      margin: 15px 0 15px 0;
    }

    &__text {
      font-size: 0.75rem;
      color: v.$decor-color;
      margin: 0;
    }
  }

  .text__line {
    width: 30px;
  }

  &__dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 70px;
    left: 70px;
    width: 55px;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: v.$slider-pagination-nonactive-color;
    cursor: pointer;
  }

  &__dot.active {
    background-color: v.$text-title-color;
    transition: 250ms ease-in-out;
  }
}
