//Screens: max-width - 767, min-width - 768, max-width  - 1199, min-width: 1200
// variables start from symbol - $

//----------------ACTIVE PAGE AND FILTER-----------
$active-item-color: #d4a373;
$decor-color: #e5e5e5;
$text-color: #6c757d;
$dark-color: #343a40;
$middle-dark-color: #495057;
$image-background: #c4c4c4;
$text-title-color: #fff;

//----------------HEADER-------------------------
$header-background-color: rgba(0, 0, 0, 0.2);

$header-logo-color: #f8f9fa;

//----------------POST SECTION-------------------
$slider-category-background-color: rgba(255, 255, 255, 0.15);
$slider-pagination-nonactive-color: rgba(255, 255, 255, 0.5);
$slider-image-color: #343a40;

//----------------FOOTER SECTION-----------------
$footer-background-color: #212529;
