@use "/src/scss/utils/variables.scss" as v;

.posts {
  &__filter-container {
  }

  &__filter-list {
    display: flex;
    padding: 0;
    margin: 0 0 30px 0;
  }
  &__filter-item {
  }

  &__filter-btn {
    background: none;
    border: none;
    color: v.$middle-dark-color;
    font-weight: 500;
    cursor: pointer;
  }
}

.active-filter {
  color: v.$active-item-color;
}
