<footer class="footer">
  <div class="footer__main">
    <article class="footer__article">
      <h3 class="footer__titles">Contact the Publisher</h3>
      <ul class="footer__contact-list list">
        <li class="footer__contact-item"><a
            class="footer__contact link"
            href="mailto:blogit@wolma.com"
          >blogit@wolma.com</a></li>
        <li class="footer__contact-item"><a
            class="footer__contact link"
            href="tel:+342 450 904 505"
          >+342 450 904 505</a></li>
      </ul>
    </article>
    <article class="footer__article">
      <h3 class="footer__titles">Explorate</h3>
      <ul class="footer__menu-list list">
        <li class="footer__menu-item">
          <a class="js-about__link link footer__menu-link" href="">About</a>
        </li>
        <li class="footer__menu-item">
          <a
            class="js-articles__link link footer__menu-link"
            href=""
          >Articles</a>
        </li>
      </ul>
    </article>
    <article class="footer__article">
      <h3 class="footer__titles">Headquarter</h3>
      <p class="footer__adress">22 Konovaltsa street,<br />
        01133, Kiev
        <br />Ukraine</p>
    </article>
    <article class="footer__article social">
      <h3 class="footer__titles">Connections</h3>
      <ul class="footer__social-list list">
        <li class="footer__social-item">
          <a
            href="https://www.facebook.com"
            rel="noopener noreferrer"
            target="_blank"
            class="link footer__social-link"
          >
            <svg class="footer__social-svg">
              <use xlink:href="/favicon/sprites.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            class="link footer__social-link"
          >
            <svg class="footer__social-svg">
              <use xlink:href="/favicon/sprites.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://www.pinterest.com"
            target="_blank"
            rel="noopener noreferrer"
            class="link footer__social-link"
          >
            <svg class="footer__social-svg">
              <use xlink:href="/favicon/sprites.svg#pinterest"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            class="link footer__social-link"
          >
            <svg class="footer__social-svg">

              <use xlink:href="/favicon/sprites.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="https://web.telegram.org"
            rel="noopener noreferrer"
            target="_blank"
            class="link footer__social-link"
          >
            <svg class="footer__social-svg">

              <use xlink:href="/favicon/sprites.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </article>
  </div>
  <div class="footer__sub">
    <p class="footer__sub-label">2025|Alex Wondermaker</p>
    <a href="#" class="footer__sub-link link">Subscribe now</a>
  </div>
</footer>