<header class="header">
  <div class="header__container">
    <a href="" class="link header__logo"><span
        class="header__logo-name"
      >BLOG!IT</span></a>

    <div class="header__tools-container">
      <nav class="nav">
        <ul class="list nav__list">
          <li class="nav__item">
            <a class="js-home__link link nav__link active-nav" href="">Home</a>
          </li>
          <li class="nav__item">
            <a class="js-about__link link nav__link" href="">About</a>
          </li>
          <li class="nav__item">
            <a class="js-articles__link link nav__link" href="">Articles</a>
          </li>
          <li class="nav__item">
            <a class="js-contact__link link nav__link" href="">Contact us</a>
          </li>
        </ul>
      </nav>
      <div class="social">
        <ul class="social__list list">
          <li class="social__item">
            <a href="" class="link social__link">
              <svg class="social__svg">
                <use xlink:href="/public/favicon/sprites.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="link social__link">
              <svg class="social__svg">
                <use xlink:href="/public/favicon/sprites.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="link social__link">
              <svg class="social__svg">
                <use xlink:href="/public/favicon/sprites.svg#pinterest"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="link social__link">
              <svg class="social__svg">

                <use xlink:href="/public/favicon/sprites.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="link social__link">
              <svg class="social__svg">

                <use xlink:href="/public/favicon/sprites.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu">
        <button class="menu__button">
          <span class="menu__button-line line-top"></span>
          <span class="menu__button-line line-center"></span>
          <span class="menu__button-line line-bottom"></span>

        </button>
        <div class="menu__container">
          <ul class="list menu__list">
            <li class="menu__item">
              <a
                class="js-home__link link menu__link active-nav"
                href=""
              >Home</a>
            </li>
            <li class="menu__item">
              <a class="js-about__link link menu__link" href="">About</a>
            </li>
            <li class="menu__item">
              <a class="js-articles__link link menu__link" href="">Articles</a>
            </li>
            <li class="menu__item">
              <a class="js-contact__link link menu__link" href="">Contact us</a>
            </li>
          </ul>
          <ul class="menu__social-list list">
            <li class="social__item">
              <a href="" class="link social__link">
                <svg class="social__svg">
                  <use xlink:href="/favicon/sprites.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="link social__link">
                <svg class="social__svg">
                  <use xlink:href="/favicon/sprites.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="link social__link">
                <svg class="social__svg">
                  <use xlink:href="/favicon/sprites.svg#pinterest"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="link social__link">
                <svg class="social__svg">

                  <use xlink:href="/favicon/sprites.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="link social__link">
                <svg class="social__svg">

                  <use xlink:href="/favicon/sprites.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="search">
        <button class="search__btn">
          <svg class="search__svg" id="search">
            <use xlink:href="/favicon/sprites.svg#search"></use>
          </svg>
        </button>
        <form action="" class="search__form is-hidden">
          <input type="text" class="search__input" />
          <button class="search__form-btn">
            <svg class="search__form-svg" id="search">
              <use xlink:href="/favicon/sprites.svg#search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>

  </div>
</header>