@use "/src/scss/utils/variables.scss" as v;
@use "/public/fonts/fonts.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: "Lora", serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
