@use "../../utils/variables.scss" as v;

.posts {
  &__filter-container {
    margin: 0 0 30px 0;
  }

  // @media (min-width: 460px) {
  //   // &__filter-container {
  //   //   overflow: auto;
  //   // }
  // }

  &__filter-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    padding: 0 3px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    overflow-x: scroll;
    border: none;
    border-radius: 5px;
    height: 40px;
  }
  @media (min-width: 460px) {
    &__filter-list {
      justify-content: space-around;
    }
  }

  &__filter-btn {
    background: none;
    border: none;
    color: v.$middle-dark-color;
    font-weight: 500;
    cursor: pointer;
  }
}

.active-filter {
  color: v.$active-item-color;
}

//grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
